In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
import datetime
from datetime import date

In [2]:
budget_data = "prodbudget.csv"
budget_data_df = pd.read_csv(budget_data)
budget_data_df.head()

,Domestic Gross,Movie,Production Budget,ReleaseDate,Worldwide Gross,_id
0,"$760,507,625",Avatar,"$425,000,000","Dec 18, 2009","$2,776,345,279",5cbf6a3df1b3f84eb09bd4e0
1,"$241,063,875",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","May 20, 2011","$1,045,663,875",5cbf6a3df1b3f84eb09bd4e1
2,"$459,005,868",Avengers: Age of Ultron,"$330,600,000","May 1, 2015","$1,403,013,963",5cbf6a3df1b3f84eb09bd4e2
3,"$620,181,382",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","Dec 15, 2017","$1,316,721,747",5cbf6a3df1b3f84eb09bd4e3
4,"$936,662,225",Star Wars Ep. VII: The Force Awakens,"$306,000,000","Dec 18, 2015","$2,053,311,220",5cbf6a3df1b3f84eb09bd4e4

In [3]:
budget_data_df["Production Budget"]=budget_data_df["Production Budget"].replace({'\$': '',',': ''}, regex=True)
budget_data_df["Production Budget"]=budget_data_df["Production Budget"].astype(float)

In [4]:
budget_data_df["Worldwide Gross"]=budget_data_df["Worldwide Gross"].replace({'\$': '',',': ''}, regex=True)
budget_data_df["Worldwide Gross"]=budget_data_df["Worldwide Gross"].astype(float)

In [6]:
budget_data_df=budget_data_df.rename(columns={"ReleaseDate":"Release_Date"})
budget_data_df["Release_Date"]=pd.to_datetime(budget_data_df.Release_Date)

In [7]:
budget_data_df.dtypes

Domestic Gross               object
Movie                        object
Production Budget           float64
Release_Date         datetime64[ns]
Worldwide Gross             float64
_id                          object
dtype: object

In [12]:
budget_data_df.to_csv('prodbudget_clean.csv', encoding='utf-8', index=False)